body {
    font-family: Oswald;
    background-image: url('../imagini/background_img.PNG'); /* Înlocuiește cu calea către imagine */
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    margin: 0; 
    padding: 0; 
    padding-top: 120px;
}

/* :root {

} */

* {
    margin: 0;
    padding: 0;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.gap-5 {
    gap: 5 px;
}

.gap-10 {
    gap: 10 px;
}

.gap-20 {
    gap: 20 px;
}

.navbar {
    backdrop-filter: blur(15px); 
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.497); 
    border: 1.5px solid rgba(255, 255, 255, 0.281); 
    height: 90px; 
    width: 95%; 
    position: fixed; 
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 100;
    box-shadow: 5px 5px 15px black;
}


.nav-links a {
    color: #393939;
    text-decoration: none;
    font-size: 25px;
    padding: 15px;

}



.products {
    display: flex;
    flex-direction: column; 
    height: calc(100vh - 90px); /* 100% din înălțimea paginii minus înălțimea navbar-ului */
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    gap: 60px;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
    height: calc(100vh - 200px);
    justify-content: flex-start;
}

.card {
    position: relative;
    list-style: none;
    width: 280px;
    height: 220px;
    transition: .5 ease;
    flex-shrink: 0;
}

.card:before {
    content: "";
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card-background {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    border-radius: 20px;
    background-size: 350px;
    background-position: center;
    filter: brightness(.9) saturate(1) contrast(1);
    transform-origin: bottom;
    transform: scale(1) translateZ(0);
    transition: .5 ease;
    /* border: .5px solid #393939; */
}

.card:hover .card-background {
    transform: scale(1.15) translateZ(0);
    background-size: 250px;
}

/* .card-container:hover .card:not(:hover){
    transform: scale(.9);
} */

.card-container:has(.card:hover) .card:not(:hover) {
    transform: scale(0.9);
  }

/* .card-container:hover > .card:not(:hover) .card-background, .card-container:hover > .card:not(:hover) .card-category {
    filter: brightness(.5) saturate(1) contrast(1) blur(10px);
} */


.card-container:has(.card:hover) > .card:not(:hover) .card-background,
.card-container:has(.card:hover) > .card:not(:hover) .card-category {
  filter: brightness(.7) saturate(1) contrast(1) blur(10px);
}


.content {
    top: 50%;
    left: 0;
    padding: 25px;
    position: absolute;
}

.card-price {
    color: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #8d0202;
    /* background-color: #393939; */
    width: 90px;
    border-radius: 20px;
    text-align: center;
}

.card-name {
    color: #ffff;
    font-size: 25px;
    line-height: 1;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
}


.nav-links a {
    position: relative;
    display: inline-block;
    font-size: 18px; 
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: transform 0.5s ease, color 0.3s ease, text-shadow 0.5s ease;
}

.nav-links a i {
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.nav-links a:hover {
    transform: translateY(-5px) scale(1.1); 
    color: #8d0202; 
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.nav-links a:hover i {
    transform: rotate(20deg); 
}

.sort-options {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.sort-options label {
    font-size: 16px;
    margin-right: 10px;
    color: #393939;
}

.sort-options select {
    padding: 6px 13px;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid #393939;
    border-radius: 4px;
    cursor: pointer;
    color: #393939;
    transition: all 0.3s ease;
}

.sort-options select:hover, .sort-options select:focus {
    background-color: #8d0202;
    color: white;
    border-color: #8d0202;
}

.sort-options select option {
    background-color: transparent;
    color: #393939;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sort-options select option:hover {
    background-color: #8d0202;
    color: white;
}
