body {
    font-family: Oswald;
    background-image: url('https://files.oaiusercontent.com/file-kM6PewLlp3o1AlLUOGiVHRVd?se=2024-11-20T15%3A48%3A41Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D5d0d7e1e-ec84-4e2d-9f5b-8ae5d4c3d20c.webp&sig=WioUAz6PgwhHGXayyz28nHfDdNIW/KO6TdtJytokIJ4%3D'); /* Înlocuiește cu calea către imagine */
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    margin: 0; 
    padding: 0; 
}

/* :root {

} */

* {
    margin: 0;
    padding: 0;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.gap-5 {
    gap: 5 px;
}

.gap-10 {
    gap: 10 px;
}

.gap-20 {
    gap: 20 px;
}

.navbar {
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 1.5px solid rgba(255, 255, 255, 0.18);
    height: 110px;
}

